version: 2
ethernets:
  lan0:
    match:
      macaddress: "52:54:00:4c:56:47"
    addresses: [${IDM_IP}/${LAN_PREFIX}]
    routes:
      - to: 0.0.0.0/0
        via: ${GATEWAY_IP}
    nameservers:
      addresses: [${DNS_IP}]
      search: [corp.locumview.com]
    dhcp4: false
    dhcp6: false
    # Router advertisements would add the ISP's IPv6 DNS next to AdGuard (lesson from changelog #15).
    accept-ra: false
